* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --radius: 25px;
}

body {
  color: #333333;
  background-color: #B3A9AE;
}

.box {
  background-color: #d9d9d9;
  height: 90vh;
  border-radius: var(--radius);
  padding: 25px;
}

.searchBox {
  background-color: #d9d9d9;
  height: 5vh;
  border-radius: var(--radius);
  margin-bottom: 2vh;
}

.topCollections {
  background-color: #d9d9d9;
  height: 29vh;
  border-radius: var(--radius) 5px 5px var(--radius);
  margin-bottom: 2vh;
  overflow-y: scroll;

}

.recentlyItems {
  background-color: #d9d9d9;
  height: 52vh;
  border-radius: var(--radius) 5px 5px var(--radius);
  overflow-y: scroll;
}
















::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
