* {
  padding: 0;
  margin: 0;
  /*box-sizing: border-box;*/
}

:root {
  --radius: 15px;
}

#light {
  background-color: #CDBDA3;
}

#dark {
  background-color: rgb(33,37,41);
}

body {
  color: #333333;
  background-color: #CDBDA3;
}

.section {
  border-radius: var(--radius);
  background-color: #d9d9d9;
  box-shadow:
          inset 0 -3em 3em rgba(0,0,0,0.1),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#dark .section {
  background-color: #5e5757;
  color: #f2e7c3;
}

.box {
  height: 90vh;
  padding: 25px;
}

.searchBox {
  height: 5vh;
  margin-bottom: 2vh;
  border: none;
}

.topCollections {
  margin-bottom: 2vh;
  height: 29vh;
  border-radius: var(--radius) 5px 5px var(--radius);
  overflow-y: scroll;
}

.recentlyItems {
  height: 52vh;
  border-radius: var(--radius) 5px 5px var(--radius);
  overflow-y: scroll;
}

.collectionBox {
  height: 90vh;
  border-radius: var(--radius) 5px 5px var(--radius);
  overflow-y: scroll;
}

.auth {
}




::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
